{% extends "base.html" %}

{% block css %}
<style type="text/css">
	h1 {
		font-size: 80px;
		font-family: Georgia;
		color: gray;
  }
  @import url(http://fonts.googleapis.com/css?family=Montserrat);

  /*basic reset*/
  html {
    height: 100%;
  }
  body {
   height: 100%;
   /*Image only BG fallback*/
   background: url('http://thecodeplayer.com/uploads/media/gs.png');
   background-color: black;
   background:
   linear-gradient(hsla(240, 10%, 20%, 0.9), hsla(240, 10%, 10%, 0.9)),
   url('http://thecodeplayer.com/uploads/media/gs.png');
   font-family: montserrat, arial, verdana;
 }
 input {
  border-radius: 5px;
  height:50px;
  width: 270px;
  font-size: 34px;
}
.footer {
  margin-top: 30px;
}

img {
  margin: 20px;
}
h2 {
  color: white;
}
</style>

{% endblock %}

{% block content %}
<br>
<br>
<br>
<div class="offset2 span8 text-center">
  <h1 class="text-center">HOT LINES</h1>
  <h2>FREESTYLE</h2>
  <br>
  <div class="from_number">
    <input type="text" placeholder="YO DIGITS">
  </div>
  <br>
  <div class="to_number">
    <input type="text" placeholder="THEY DIGITS">
  </div>
  <br>
  <div>
    <img src="/static/img/boombox.jpg">
    <img src="/static/img/heart.png">
    <img src="/static/img/birthday.png">
  </div>

  <button id="call_button" class="ladda-button" data-style="expand-right" data-color="green"><span id="loading_message" class="ladda-label">CALL</span></button>

</div>
<center class="footer">
  <img src="/static/img/soundcloud.png">
  <img src="/static/img/twilio.png">
  <img src="/static/img/heroku.png">
  <img src="/static/img/flask.png">
</center>

{% endblock %}

{% block scripts %}
<script type="text/javascript">
  $(function() {

    // $("#song").chosen();
    var l = Ladda.create(document.querySelector('#call_button'));
    $("#call_button").click(function() {
      l.start();
      $.get("/call/", function(data) {
        console.log(data);
        l.stop();
        $("#call_button").html("CALL SUCCEEDED");
      });
    });
  });
</script>
{% endblock %}

